/* Fondo de la página */
.background {
    background-image: url("/src/img/fondito2.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Fondo box */
.noticia-card {
    background-color: #08411fa4;
    color: #fff;
    border-radius: 8px;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Espaciado entre las tarjetas */
.noticia-box {
    margin-bottom: 20px; /* Espacio entre tarjetas en filas sucesivas */
}

